[Unit]
Description=GPU User Exporter Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/gpu_user_exporter/gpu_user_exporter.py
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
